[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ussherR"]
	path = ussherR
	url = https://github.com/datascinet/ussherr
	shallow = true
	registered = true
